<VirtualHost *:80>
    AllowEncodedSlashes On
    DocumentRoot "/var/www"
    ErrorLog /var/log/apache2/{{ domain }}_error.log
    <Directory "/var/www">
        Options Indexes FollowSymLinks MultiViews
        DirectoryIndex index.php
        AllowOverride All
        #Require all granted
    </Directory>
</VirtualHost>